<div class = "body">
<h1>Student:</h1>
<br>
<br>
<h1><%=@response["first_name"]%> <%=@response["last_name"]%></h1>
<div id="pic">
<%=@response["picture"]%>
</div>
<h3>Cohort: <%=@response["cohort"]%></h3>
<h3>Bio: <%=@response["bio"]%></h3>
<h3><a href = "<%=@response['website']%>"><%=@response["first_name"]%>'s Linkedin</a></h3>
</div>


